<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include
            resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include
            resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="applicationName"
                    source="spring.application.name" />
    <contextName>${applicationName}</contextName>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
